{% set title = "Edit Role" %}
{% extends "template.html" %}
{% block content %}
{% if edit_data %}
<form id="edit_role_form" action="http://localhost:3000/role-updated" method="POST">
    <label id="label_name">Name:</label><input id="textfield_name" name="name" type="text" maxlength="50"
        value="{{edit_data.job.name}}"> <br>

    <div id="edit_description_container"><label id="label_description">Description:</label><textarea rows="3" cols="3" id="textfield_description" name="description" type="text" 
    maxlength="500">{{edit_data.job.description}}</textarea></div><br>

    <label id="label_specification">Specification:</label><input id="textfield_specification" name="specification" type="text"
        maxlength="255" value="{{edit_data.job.specification}}"><br>

    <div id="edit_responsibility_container"><label id="label_responsibility">Responsibility:</label><textarea cols="3" row="3" id="textfield_responsibilities" name="responsibilities" type="text"
        maxlength="500">{{edit_data.job.responsibilities}}</textarea></div><br>

    <label id="label_capability">Capability</label>
    <select>
        {% for capability in capabilities %}
        <option value="capability_id_{{capability.id}}_option" name="capability">{{capability.name}}</option>
        {% endfor %}
    </select><br>
    <label>Band Level</label>
    <select>
        {% for band in bands %}
        <option value="band_id_{{band.id}}_option" name="band">{{band.name}}</option>
        {% endfor %}
    </select><br>
    <input id="edit_roles_submit" type="submit" >
</form>
{% endif %}
{% endblock %}