{% set title = "Kainos Careers" %}
{% extends "template.html" %}
{% block content %}
    <br><br>

    <div class = "homeContainer"><div class="homeTextContainer"><h1>Kainos Careers</h1><h2>Here at Kainos, we have a variety of jobs at different levels.</h2> 
        <br> <input id="view-roles-button" type="button" class="button" onclick="location.href='http://localhost:3000/job-roles';" value="View More Roles" />
        </div><img src="https://www.kainos.com/globalassets/images/3_size-3-content-modules-cards-desktop-insights/level-1-end-user/level-1-size-3-51.jpg?mode=crop&format=webp&width=1104&heightratio=0.625&quality=80">
    </div>
{% endblock %}
