{% set title = "Job Roles" %}
{% extends "template.html" %}

{% block pageTitle %}
  <h1>Job roles</h1>
{% endblock %}

{% block content %}
    {% block main %}
    <table id="jobs_table">
        {% if jobRoles and jobRoles.length > 0 %}
        <th>Job Name</th>
        <th>Job Description</th>
        <br><br>
        {% set count = 1 %}
        {% set jobrows = [] %}
        {% for job in jobRoles%}
        <tr id ="row_{{ count }}">
            <td id="job_name_{{ count }}">{{job.name}}</td>
            <td id="job_description_{{ count }}">{{job.description}}</td>
        </tr>
        {% set count = count + 1 %}
        {% endfor %}
        {% endif %}
    </table>
    {% endblock %}
{% endblock %}
