{% set title = "Job Roles" %}
{% extends "template.html" %}

{% block content %}
    {% block main %}
    <div id="jobs_container">
        <div id="jobs_text_container"><h1 id="job_roles_heading">Job Roles at Kainos</h1>
            <h2 id="job_roles_subheading">Explore all the capabilities and roles offered at Kainos</h2>
        </div>
    </div>
    <div id="jobs_table_title_container"><h2 id="jobs_table_title">Find the job roles you need</h2></div>
        <table id="jobs_table">
            {% if jobRoles and jobRoles.length > 0 %}
            <th id="capability_header">Capability</th>
            <th id="job_name_header">Job Name</th>
            <th id="job_description_header">Job Description</th>
            <th id="job_responsibilities_header">Job Responsibilities</th>
            <br><br>
        {% set count = 1 %}
        {% set jobrows = [] %}
        {% for job in jobRoles %}
        <tr id ="row_{{ count }}">
            <td id="job_capability_{{ count }}">{{job.capability}}</td>
            <td id="job_name_{{ count }}">{{job.name}}<br><p id="job_band_{{ count }}" class="band_small">({{job.band}})</p></td>
            <td id="job_description_{{ count }}" class="job_description_container">{{job.description}}</td>
            <td id="job_responsibilities_{{ count }}" class="job_responsibilities_container">{{job.responsibilities}}</td>
        </tr>
        {% set count = count + 1 %}
        {% endfor %}
        {% endif %}
    </table>
    {% endblock %}
{% endblock %}
