<!DOCTYPE html>
<head>
    <title>Job Roles page</title>
</head>
<body>


    
    
        
    {% block main %}
    <table>
    {% if jobRoles and jobRoles.length > 0 %}
    
    <th>Job Name</th>
    <th>Job Description</th>
    
      
       
      
    {% set jobrows = [] %}
    {% for job in jobRoles%}
    <tr>
        <td>{{job.name}}</td>
        <td>{{job.job_description}}</td>
        
      </tr>
   
    {% endfor %}
    
    
    {% endif %}

</table>




 {% endblock %}

    




</body>