{% block head %}
<link rel="stylesheet" type="text/css" href="/public/css/style.css">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
</style>
<title>{{ title }}</title>
{% endblock %}

{% block beforeContent %}
<div id="header_container">
    <div id="logo">
        <img id="logo-img" src="https://www.kainos.com/globalassets/images/5_logos/kainos_logo.png?mode=crop&width=100">
        <ul id="navbar">
            <li id="navbar-home"><a href="/">Home</a></li>
            <li id="navbar-job-roles"><a href="/job-roles">Job Roles</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %} {% endblock %}
