
body {
  font-family: "Didact Gothic", sans-serif;
  margin:0;
  overflow: auto;
}

#logo {
  margin-top:0;
  display:flex;
  align-items:center;
  position:sticky;
  height:80px;
  max-width: 1200px;
  padding-left: calc(min(3.34vw, 12px));
  padding-right: calc(min(3.34vw, 12px));
  margin-right: auto;
  margin-left: auto;
}

#navbar {
  padding-left: 0%;
  padding-top:0.5%;
}

#navbar li {
  list-style-type: none;
  overflow: hidden;
  float:left;
  
}

#navbar img {
  padding-right:12px;
  padding-top:0%;
}

#navbar li a {
  color: #252d4f;
  text-align: center;
  padding-left: 36px;
  text-decoration: underline solid white 3px;
}

/* Change the link color to white on hover */
#navbar a:hover {
  text-decoration-color: #252d4f;
  text-underline-offset: 3%;
}

table{
  border: 1px solid;
  width: 1000px;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

th{
  padding: 10px;
  width: 100px;
  background-color: #00B7FF;
}

td{
  padding-bottom: 1em;
  width: 100px;
}

.homeContainer {
  background-color: #283583;
  font-family: "Didact Gothic", sans-serif;
  color: #fff;
  width: 1600px;
  height: 600px;
  text-align: center;
  margin: auto;
}

.homeTextContainer{
  float: left;
  width: 500px;
  padding-left: 50px;
  padding-right: 100px;
  text-align: left;
}

.homeContainer img {
  height: auto; 
  width: 900px;
  margin: 10px;
  padding-top: 10px;
}

.homeTextContainer h1 {
  font-size: 60pt;
}

.homeContainer .button {
  background-color: #283583;
  font-family: "Didact Gothic", sans-serif;
  font-size: 16px;
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
  color: #fff;
  padding: 16px;
}

.homeContainer .button:hover {
  background-color: #fff;
  border-color: #283583;
  color: #283583;

}
